{
  // “environments”设置环境
  // To specify environments in a configuration file, use the env key and specify which environments you want to enable by setting each to true. For example, the following enables the browser and Node.js environments
  "env": {
    "mocha": true,
    "es6": true
  },
  // 设置全局变量
  // https://eslint.org/docs/user-guide/configuring#specifying-globals
  "globals": {
    "expect": true,
    "sinon": true
  },
  // 设置解析版本
  // https://eslint.org/docs/user-guide/configuring#specifying-parser-options
  "parserOptions": {
    "ecmaVersion": 2017
  }
}